@import '../index.module.scss';

header {
  background-color: white;
  width: 100%;
  .headerWrap {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    .header {
      position: relative;
      h1 {
        width: 58px;
        height: 21px;
        text-indent: -9999px;
        background: url('../asset/sprite.png');
        background-position: -45px -458px;
        background-size: 658px 556px;
      }
      .headerUtil {
        position: absolute;
        right: 0;
        top: 0;
        .iconBtn {
          text-indent: -9999px;
          display: block;
          float: left;
          background: url('../asset/sprite.png');
          background-size: 658px 556px;
        }
        .headerSearch {
          width: 19px;
          height: 19px;
          background-position: -150px -459px;
        }
        .headerBookmark {
          width: 22px;
          height: 19px;
          background-position: -104px -459px;
        }
      }
    }
    .headerGnb {
      .headerGnbItem {
        font-size: 20px;
        display: inline-block;
        @for $i from 1 through 5 {
          &:first-child:nth-last-child(#{$i}),
          &:first-child:nth-last-child(#{$i}) ~ li {
            width: 100% / $i;
          }
        }
      }
      .selected {
        color: red;
        &:before {
          content: " ";
          float: left;
          display: block;
          width: 16px;
          height: 16px;
          background: url('../asset/sprite.png');
          background-position: -310px -459px;
          background-size: 657px 556px;
        }
      }
    }
  }
}