@import '../index.module.scss';

header {
  background-color: white;
  width: 100%;
  .headerWrap {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    .header {
      position: relative;
      div {
        padding: 12px 0 0 16px;
        float: left;
          h1 {
            width: 58px;
            height: 21px;
            text-indent: -9999px;
            background: url('../asset/sprite.png');
            background-position: -45px -458px;
            background-size: 658px 556px;
          }
      }
      .headerUtil {
        float: right;
        padding: 0;
        div {
          box-sizing: border-box;
          &.headerSearch {
            width: 40px;
            padding-top: 15px;
            padding-left: 9px;
            .iconBtn {
              width: 19px;
              height: 19px;
              background-position: -150px -459px;
            }
          }
          &.headerBookmark {
            padding: 15px 41px 0 9px;
            width: 40px;
            .iconBtn {
              width: 22px;
              height: 19px;
              background-position: -104px -459px;
            }
          }
          .iconBtn {
            text-indent: -9999px;
            display: block;
            background: url('../asset/sprite.png');
            background-size: 658px 556px;
          }
        }
      }
    }
    .headerGnb {
      clear: both;
      padding-top: 14px;
      .headerGnbItem {
        font-size: 16px;
        display: inline-block;
        position: relative;
        height: 34px;
        color: #666;
        text-align: center;
        margin-left: -5px;
        @for $i from 1 through 5 {
          &:first-child:nth-last-child(#{$i}),
          &:first-child:nth-last-child(#{$i}) ~ li {
            width: 100% / $i;
          }
        }
        &:first-child {
          text-indent: -10px;
        }
      }
      .selected {
        color: red;
        margin-left: 20px;
        &:before {
          content: " ";
          float: left;
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          top: 0;
          left: 50%;
          margin-top: 4px;
          margin-left: -40px;
          background: url('../asset/sprite.png');
          background-position: -310px -459px;
          background-size: 657px 556px;
        }
        &:after {
          content: " ";
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -2px;
          margin-top: 4px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: red;
        }
      }
    }
  }
}